log/
logs/
*.log
tmp/
*.tmp
*.bak
.vertx/
.cluster/

target/

.mvn/
mvnw
mvnw.cmd

node_modules/
dist/
out/
.idea
.DS_Store
*.iws
*.iml
*.ipr

.settings/
.classpath
.project
.apt_generated
.factorypath
.springBeans

metastore_db/
/spark-warehouse/
*.jar

api-docs/

*.crc
docs/
